   .container {
    background-color: #282828;
    color: white;
    text-align: left;  
    height: auto;
    min-width: 100%;
    max-width: 100%;
    display: grid;
    align-content: baseline;
    font-family: 'Lucida Console';
   }
   
   .row1, .row2, .row3{
    position: relative;
    width: 70%;
    display:flex;
    justify-content: left;
   }

   .consoleInfo {
     color: #fbf1c7;
   }

   .consoleHeader {
     color: #fb4934;
   }

   .consoleSub{
    color: #b8bb26;
   }
   
   .cursor {
    width: 0.6em;
    border-bottom: 5px solid #fff;
    opacity:0;
    animation: cursor 1s linear;
    animation-iteration-count: infinite;
   }
   
   @for $i from 1 through 22 {
    .row1 div.letter:nth-child(1n + #{$i}){
     visibility: hidden;
     animation: typing 0.1s ease-in $i*0.1s forwards;
    }
   }
   
   .row2 {
    visibility: hidden;
     animation: typing 0.1s ease-in 2.4s forwards;
   }
   .row3 {
    visibility: hidden;
     animation: typing 0.1s ease-in 2.5s forwards;
   }
   @keyframes cursor {
    to{opacity:1;}
   }
   
   @keyframes typing {
    to {visibility: visible;}
   }
   
   @media only screen and (max-width:500px){
    body{
     font-size: 18px;
    }
   }