.App {
  text-align: center;
  background-color: black;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navDiv{
  z-index: 101;
  position: fixed;
  min-width: 100%;
  max-height: 5%;
  max-width: 100%;
}

.navBar{
  width: 100%;
  z-index: 102;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navElement {
  z-index: 110;
  cursor: pointer;
  color: #f73939;
  float: right;
}

li span {
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li.navDiv:hover {
  background-color: #e23e57;
  color: aliceblue;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
